/* Body styles */
body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: #f0f2f5;
  }
  
  /* Container styles */
  .container {
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  }
  
  /* Heading styles */
  h1 {
    font-size: 36px;
    font-weight: bold;
    margin: 0 0 10px;
    color: #1877f2;
  }
  
  h3 {
    font-size: 24px;
    font-weight: bold;
    margin: 20px 0 10px;
  }
  
  /* Button styles */
  button {
    background-color: #1877f2;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    margin: 0 10px 20px 0;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    width: 200px;
  }
  
  button:focus {
    outline: none;
  }
  
  button:hover {
    background-color: #3b5998;
  }
  
  #start-record-btn {
    background-color: #1fca39;
    margin-right: 10px;
    width: 220px;
  }
  
  #pause-record-btn {
    background-color: #ff3333;
    width: 160px;
  }
  
  #save-note-btn {
    background-color: #1877f2;
    width: 160px;
  }
  
  /* Input styles */
  input[type="text"],
  textarea {
    width: 100%;
    padding: 12px;
    border-radius: 5px;
    border: 1px solid #ddd;
    font-size: 16px;
    margin-bottom: 20px;
    box-sizing: border-box;
  }
  
  input[type="text"]:focus,
  textarea:focus {
    outline: none;
    border-color: #1877f2;
  }
  
  /* List styles */
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  li {
    margin: 0;
    padding: 0;
  }
  
  .note {
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    background-color: #fff;
  }
  
  .note .header {
    font-size: 14px;
    color: #888;
    margin-bottom: 10px;
  }
  
  .note .content {
    font-size: 16px;
  }
  
  .no-notes {
    font-size: 16px;
    color: #888;
    text-align: center;
  }
  
  /* Link styles */
  a {
    color: #1877f2;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  